<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
        <class name="com.nickelfox.testcases.About_Test_case"/>
     <class name="com.nickelfox.testcases.Contact_With_Us_Page_Test"/>
     
      <class name="com.nickelfox.testcases.Success_Stories_Page_Test"/>
    
      <class name="com.nickelfox.testcases.Blog_Page_Test"/>
            <class name="com.nickelfox.testcases.Industries_Page_Test"/>
      <class name="com.nickelfox.testcases.Live_Chat_Test"/>
         <class name="com.nickelfox.testcases.Career_Page_Test"/>
    <!-- Test
     <class name="com.nickelfox.testcases.Tech_Stack_Page_Test"/>
      <class name="com.nickelfox.testcases.Service_Test_case"/>
      <class name="com.nickelfox.testcases.Blog_Page_Test"/>
         <class name="com.nickelfox.baseclass.BaseClass"/>
      <class name="com.nickelfox.testcases.Career_Page_Test"/>
     <class name="com.nickelfox.testcases.Career_Page_Test"/>
      <class name="com.nickelfox.testcases.Contact_With_Us_Page_Test"/>
      <class name="com.nickelfox.testcases.Industries_Page_Test"/>
      <class name="com.nickelfox.testcases.Live_Chat_Test"/>
      <class name="com.nickelfox.testcases.About_Test_case"/>
      <class name="com.nickelfox.testcases.Tech_Stack_Page_Test"/>
      <class name="com.nickelfox.testcases.Success_Stories_Page_Test"/>
      <class name="com.nickelfox.testcases.Contact_Page_Test"/>
      <class name="com.nickelfox.testcases.ServiceUiUxDesign_Test_case"/>
   -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
